* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
}

body {
    /* background-image: linear-gradient(to bottom right, rgb(155, 40, 40), rgb(54, 51, 51)); */
    display: grid;
    grid-template-areas: 
        "hd hd hd hd pl pl pl pl"
        "sd gm gm gm gm gm gm gm"
        "ft ft ft ft ft ft ft ft";
    grid-template-rows: 5% 90% 5%;
}

header {
    grid-area: hd;
    background-color: aqua;
}

h1 {
    background-color: darkblue;
    height: 100%;
    text-align: center;
}

#playerInfo {
    grid-area: pl;
    display: grid;
    grid-template-areas: "p1 p2";
    background-color: purple;
}

#playerOneInfo {
    border: 2px solid greenyellow;
    grid-area: p1;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

#playerTwoInfo {
    border: 2px solid greenyellow;
    grid-area: p2;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

#gameMenu {
    grid-area: sd;
    background-color: red;
}

#gameArea {
    grid-area: gm;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
}

td {
    background-color: black;
    height: 50px;
    width: 50px;
}

footer {
    grid-area: ft;
    background-color: plum;
}