@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
}

body {
    background-image: radial-gradient(deepskyblue, white);
    height: 100vh;
    display: grid;
    grid-template-areas:
        "hd"
        "ms"
        "mn"
        "ft";
    grid-template-rows: 10vh 10vh 70vh 10vh;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: hd;
    text-align: center;
}

h1 {
    font-size: 48px;
}

#gameMessage {
    grid-area: ms;
    text-align: center;
    font-size: 24px;
}

main {
    grid-area: mn;
    display: flex;
    justify-content: center;
}

#controlMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
}

#controlMenu:last-child {
    margin-bottom: 0;
}

label {
    width: 200px;
}

.userGrid {
    width: 60px;
}

input {
    margin-bottom: 10px;
    height: 40px;
    width: 200px;
    text-align: center;
    font-size: 14px;
}

input::placeholder {
    font-size: 10px;
}

button {
    margin-bottom: 10px;
    height: 40px;
    width: 200px;
    font-size: 10px;
}

button:hover {
    box-shadow: 2px 2px 2px black;
    background-color: rgb(161, 219, 255);
}

button:active {
    background-color: deepskyblue;
}

#gameSpace {
    display: flex;
    justify-content: center;
    align-items: center;
}

#gameGrid {
    width: fit-content;
    height: fit-content;
    grid-area: gm;
    background-color: grey;
    border-radius: 1%;
    padding: 5px;
    margin-right: 25px;
}

td {
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    width: 50px;
    height: 50px;
}

#playerOne {
    grid-area: p1;
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

#playerTwo {
    grid-area: p2;
    display: flex;
    flex-direction: column;
}

footer {
    grid-area: ft;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    font-family: 'Comforter', cursive;
    font-size: 24px;
}